Package: com.custom.igfloatingtabbar
Name: IG Floating TabBar
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Floating pill-style tab bar tweak for Instagram with smooth scroll-to-hide animation. Compatible with iOS 14-16.
Maintainer: ayor
Author: ayor
Section: Tweaks
